@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "DM Serif Display", serif;
  --color-navy: #0a1d37;
  --color-gold: #c5a059;
  --color-cream: #fdfcf0;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
}
